* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.calendar {
    height: 100vh;
    font-weight: 300;
    display: flex;
}

.main {
    padding-left: 1%;
}
